<div class="container-fixed" id="back">
    
        
    <form (ngSubmit)="onSubmit()" #f="ngForm" id="formlogin">
        
        <div class="container" id="back1">
            <div class="row">
                <div class="col-xs-4">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" class="form-control" 
                    placeholder="Enter Username" name="uname" 
                    required ngModel>
                </div>
            </div>
    
            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-4">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" class="form-control" 
                    placeholder="Enter Password" name="psw" 
                    required ngModel>
                </div>
            </div>
    
            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary" >Login</button>
                </div>
            </div>  
    
            <div class="row" style="padding-top: 10px;">
                <div class="col-xs-4">
                    <p>New User <a routerLink="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>      
      
      </form>
    
</div>